[Desktop Entry]
Name=Chrome
Exec=chromium-browser --force-dark-mode --enable-features=WebContentsForceDark --disable-component-update --start-fullscreen --disable-session-crashed-bubble --hide-crash-restore-bubble --disable-infobars --app=http://localhost/display.html
